.a {
  color: blue;
}
.center {
  margin: auto;
  padding: 0px;
}

.btns {
  background-color: #354052;
  color: aliceblue;
}

.ar-btns {
  /* background-color: #354052; */
  width: 60%;
  margin: auto;
}
